.container-fromulario{
    display: flex;
    flex: 1;
    background-color: coral;
    .cont-img{
        width: 50%;
        height: 100%;
        overflow: hidden;
        .img-ba-log{
            width: 100%;
            height: 100%;
        }
    }
    .cont-form-row{
        flex: 1;
        display: flex;
        flex-direction: row;
        background-color: cyan;
        .cont-form-col{
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: center;
            align-items: center;
            background-color: rgb(46, 41, 41);
            color: white;
            box-shadow: 1px 1px 23px 10px
             rgba(0,0,0,0.66);              
            input[type=email]{
                border-radius: 10px;
                padding: 5px;
                animation: sc .4s;
                &:hover{
                    transform: scale(1.2);   
                }
            }
            input[type=password]{
                border-radius: 10px;
                padding: 5px;
                
                animation: sc .4s;
                &:hover{
                    transform: scale(1.2);   
                }
                
            } 
            @keyframes sc {
                    
                0%{
                    transform: scale(0.4);
                }
                25%{
                    transform: scale(0.5);
                }
                50%{
                    transform: scale(0.7);
                }
                75%{
                    transform: scale(1);
                }
                100%{
                    transform: scale(1.1);
                }
            }
            .col-btn{
                position: relative;
                padding: 10px 0;
                display: flex;
                
                justify-content: center;
                
                .btn-login{
                    background-color: transparent;
                    width: 150px;
                    height: 50px;
                    border-radius: 20px;
                    color: white;
                    position: relative;
                    border-color: violet;
                    transition: all .5s ease;
                }
            }
        }
        
    }
}